@using PT.Entitiy.ViewModel
@model ProfileViewModel
@{
    ViewBag.Title = $"Profil Ekranı  - {Model.UserName}";
}

<h2 class="text-primary">@Model.Name @Model.Surname</h2>
@Html.ValidationSummary()
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Profile", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(x => x.UserName)
                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = "Kullanıcı Adı", @readonly= true  })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Ad" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Surname)
                @Html.TextBoxFor(x => x.Surname, new { @class = "form-control", placeholder = "Soyad" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "E-Mail" })
            </div>
            @Html.HiddenFor(x => x.Id)
            <div class="row">
                <div class="col-sm-12">
                    <input type="submit" value="Profili Güncelle" class="btn btn-success btn-block" />
                </div>
            </div>
    }
    </div>
    <div class="col-md-6">
        @using (Html.BeginForm("UpdatePassword", "Account", FormMethod.Post))
        {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(x => x.OldPassword)
            @Html.TextBoxFor(x => x.OldPassword, new { @class = "form-control" })
        </div>
            <div class="form-group">
                @Html.LabelFor(x => x.NewPassword)
                @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.NewPasswordConfirm)
                @Html.TextBoxFor(x => x.NewPasswordConfirm, new { @class = "form-control" })
            </div>
            @Html.HiddenFor(x => x.Id)
            <div class="row">
                <div class="col-sm-12">
                    <input type="submit" value="Şifre Değiştir" class="btn btn-primary btn-block btn-lg" />
                </div>
            </div>
        }
    </div>
</div>
